.hello{
    background-color: rgb(243, 231, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
button.batn {
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(34, 34, 31);
}

button.batn:hover {
    background-color: rgb(216, 215, 204);
}