footer {
    background-color: rgb(243, 231, 5);
    color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    font-size: 1.5em;
}
.footer__text {
    text-align: right;
}
.Left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logoDog {
    font-size: 2em;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}
.Chat{
    display: flex;
    gap: 15px;
}