.bannerFirst {
    background-color: rgb(243, 168, 5);
    padding: 10px 30px ;
    margin: 30px 0  20px 0;
    border-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerFirst img {
    width: 170px;
}
.bannerSecond img {
    width: 170px;
}

.bannerSecond{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.bannerTwo {
    background-color: rgb(113, 204, 164);
    padding: 10px 30px ;
    margin: 20px 0 ;
    border-radius: 10px;
    height: 150px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerThree{
    background-color: rgb(243, 195, 5);
    padding: 10px 30px ;
    margin: 20px 0 ;
    border-radius: 10px;
    height: 150px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerThird{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.bannerFour{
    background-image: url("./img/fon.jpg");
    background-size: cover;
    padding: 10px 30px ;
    margin: 20px 0 ;
    border-radius: 10px;
    height: 150px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerFive{
    background-color: rgb(230, 165, 13);
    padding: 10px 30px ;
    margin: 20px 0 ;
    border-radius: 10px;
    height: 150px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}